* {
  box-sizing: border-box;
}

@keyframes strobeEffect {
  0% { background-color: #000; color: #0800e7}
  25% { background-color: #0800e7; color: #000 }
  50% { background-color: #000; color: #0800e7}
  75% { background-color: #0800e7; color: #000 }
  100% { background-color: #000; color: #0800e7}
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #0800e7;
  overflow-x: hidden;
  padding: 20px;
  scroll-behavior: smooth;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 5% 75%;
  gap: 10px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  text-align: center;
}

.header {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-family: "DM Sans";
}

.header h1 {
  font-size: 10vw;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DM Sans";
  margin: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'DM Sans';
  padding: 15px 30px;
  background-color: #000;
  color: #0800e7;
  border-radius: 5px;
  border: 2px solid #0800e7;
}

.button:hover {
  background-color: #0800e7;
  color: #000;
  border: 2px dashed #000;
  animation: strobeEffect 1.5s infinite;
}

.employment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0800e7;
  width: 100%;
}

.employment-header {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employment-title {
  font-size: 6vw;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DM Sans";
}

.employment-content {
  overflow-y: auto;
  background-color: #0800e7;
}

.resume {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 30px;
  color: #000;
}

.job-title {
  font-family: 'Dosis';
  font-size: 2.25em;
  margin-bottom: 0px;
}

.job-year {
  font-family: 'Dosis';
  font-size: 1.125em;
}

.job-description {
  font-family: 'Dosis';
  font-size: 1.5em;
}

.about-page {
  font-family: "DM Sans";
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #0800e7;
  overflow: hidden;
}

.about-page h1 {
  font-size: 4.25em;
}

.skills-container {
  font-family: "Dosis";
  display: flex;
  flex-direction: row;
  font-size: 1.125em;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px 5px;
  background-color: #000;
  color: #0700e7;
  padding: 35px 20px;
  max-width: max-content;
  width: auto;
}

.skills-container p {
  margin: 5px 0px;
  font-size: 1.125em;
}

.email {
  font-size: 1.125em;
  margin: 0px;
}

.blurb {
  width: 100%;
  font-size: 1.5em;
}

.art-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.art-page-button {
  text-decoration: none;
  font-family: 'DM Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  background: #0800e7;
  border: none;
  font-weight: bold;
  color: #000;
  height: 50vh;
  width: 100vh;
}

.art-page-button:hover {
  color: #000;
  animation: none;
}

.music-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.music-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.music-header h1 {
  margin: 0px 20px 0px 0px;
}

.music-page-title {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 auto;
}

.music-page-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.music-page-menu-button {
  font-family: 'DM Sans';
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: #000;
  border: none;
  font-weight: bold;
  text-decoration: none;
  color: #0800e7;
  text-align: center;
  margin: 10px;
}

.albums-recorded {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  background-color: #000;
  width: 100vw;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.albums-recorded-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  width: 100vw;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
}

.albums-recorded-title {
  font-family: "DM sans";
  color: #0800e7;
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.albums-played-on {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  align-content: flex-start;
  min-height: 100vh;
}

.albums-played-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
}

.albums-played-title {
  font-family: "DM sans";
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.albums-played-main {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-name {
  color: #000;
  background-color: #0700e7;
  font-size: 1.5em;
  min-width: max-content;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  border: 2px dashed black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.album-names {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.album-names-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 0px 10px;
}

.album-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.album-list-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.album-list-container {
  display: flex;
  flex-direction: column;
}

.album-name-dark {
  font-family: "dosis";
  background-color: #000;
  text-decoration: none;
  font-size: 1.25em;
  min-width: max-content;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  border: 2px dashed #0800e7;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #0800e7;
}

.album-names-container-dark {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 0px 10px;
  padding: 0px;
}

.album-list-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.album-list-background-dark {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #0800e7;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.album-list-container-dark {
  display: flex;
  flex-direction: column;
}

.album-names-container-scroll{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 0px 10px;
  padding: 0px;
}

.album-name-smaller{
  font-family: "dosis";
  color: #000;
  background-color: #0700e7;
  text-decoration: none;
  font-size: 1.5em;
  min-width: max-content;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  border: 2px dashed black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.audio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: none;
  border: 2px solid #0800e7;
}
.play-pause-icon {
  height: 65%;
  color: #0800e7;
}

.track-title {
  font-family: dosis;
  font-size: 1.5em;
  margin-left: 10px;
  color: #0800e7;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.visual-content {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "DM Sans";
}

.visual-content:hover {
  color: #000;
  animation: none;
}

.portfolio-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portfolio-page header {
  width: 100%;
  text-align: center;
}

.portfolio-write-up {
  font-size: 1em;
}

.portfolio-content {
  font-family: 'dosis';
  width: 90%;
  text-align: center;
}

.button-art{
  border-radius: 50px;
}

/* .button-about{
  border-radius: 50px 5px 50px 5px;
} */

.iframe {
  border: 0;
  width: 300px;
  height: 406px;
}
/* 
@media screen and (min-width: 425px) {
  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 667px) {
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 30px 0px;
  }

  .header {
    width: 85%;
  }

  h1 {
    font-size: 4.25em;
}

  header p {
    font-size: 1.5em;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 20px;
  }

  .button {
    text-decoration: none;
    font-family: 'DM Sans';
    color: #0800e7;
    border-radius: 5px;
    border: 2px solid #0800e7;
    padding: 15px 30px;
    background-color: #000;
    font-size: 1.5em;
  }

  .button:hover {
    background-color: #000000;
    color: #0800e7;
  }

  .button-art{
    border-radius: 50px;
  }

  .button-about{
    border-radius: 50px 5px 50px 5px;
  }

  .employment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0800e7;
  }

  .job-title {
    font-family: 'Dosis';
    font-size: 2em;
    margin-bottom: 0px;
  }

  .job-year {
    font-family: 'Dosis';
    font-size: 1.125em;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .job-description {
    font-family: 'Dosis';
    font-size: 1em;
  }

  .email {
    font-size: 1.125em;
    margin: 0px;
  }

  .blurb {
    width: 100%;
    font-size: 1.5em;
  }

  .about-page {
    font-family: "DM Sans";
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #0800e7;
    overflow: hidden;
  }

  .skills-container {
    font-family: "Dosis";
    display: flex;
    flex-direction: row;
    font-size: 1.125em;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 5px;
    background-color: #000;
    color: #0700e7;
    padding: 5px 25px;
    max-width: max-content;
    width: auto;
  }

  .skills-container p {
    margin: 5px 0px;
    font-size: 1.125em;
  }

  .portfolio-write-up {
    font-size: 1em;
  }

  .portfolio-content {
    width: 90%;
    text-align: center;
  }

  .art-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  .art-page-button {
    text-decoration: none;
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background: #0800e7;
    border: none;
    font-weight: bold;
    color: #000;
    height: 50vh;
    width: 50vw;
  }

  .art-page-button:hover {
    color: #000;
    animation: none;
  }

  .visual-content {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: "DM Sans";
  }

  .visual-content:hover {
    color: #000;
    animation: none;
  }

  .music-page-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .music-page-menu-button {
    font-family: 'DM Sans';
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #000;
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: #0800e7;
    text-align: center;
    margin: 10px;
  }

  .music-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .album-names-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    gap: 0px 10px;
  }

  .album-name {
    background-color: #0700e7;
    font-size: 1.5em;
    min-width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .album-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .album-list-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .track-title {
    font-family: dosis;
    font-size: 1.5em;
    margin-left: 10px;
    color: #0800e7;
  }

  .audio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: none;
    border: 2px solid #0800e7;
  }

  .albums-recorded {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: #000;
    width: 100vw;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  }

  .album-names-container-dark {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    gap: 0px 10px;
    padding: 0px;
  }

  .album-name-dark {
    background-color: #000;
    font-size: 1.25em;
    min-width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed #0800e7;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #0800e7;
  }

  .album-name-dark:hover {
    background-color: #000;
    color: #0800e7;
  }

  .album-list-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .album-list-background-dark {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #0800e7;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .iframe {
    border: 0;
    width: 230px;
    height: 354px;
  }

  .album-names-container-scroll{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    gap: 0px 10px;
    padding: 0px;
  }

  .album-name-smaller{
    background-color: #0700e7;
    font-size: 1.5em;
    min-width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 30px 0px;
  }

  h1 {
    font-size: 5.5em;
    font-family: "DM Sans";
    margin: 0px;
  }

  header p {
    font-size: 2em;
  }

  .button {
    text-decoration: none;
    font-family: 'DM Sans';
    color: #0800e7;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 15px 30px;
    background-color: #000;
    font-size: 1.6em;
    transition: none;
  }


  .button:hover {
  background-color: #000000;
  color: #0800e7;
  }

  .button-art{
    border-radius: 50px;
  }

  .button-about{
    border-radius: 50px 5px 50px 5px;
  }

  .job-title {
    font-family: 'Dosis';
    font-size: 3em;
    margin-bottom: 0px;
  }

  .job-year {
    font-family: 'Dosis';
    font-size: 1.25em;
    margin: 10px 0px 0px 0px;
  }

  .portfolio-write-up {
    font-size: 2em;
  }

  .about-page h1 {
    font-size: 7em;
  }

  .email {
    font-size: 2.5em;
    margin: 0px;
  }

  .skills-container {
    font-family: "Dosis";
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 5px;
    background-color: #000;
    color: #0700e7;
    padding: 30px 25px;
    max-width: max-content;
    width: auto;
  }

  .art-page-button:hover {
    color: #000000;
    animation: none;
  }

  .visual-content:hover {
    color: #000000;
    animation: none;
  }

  .visual-content {
    font-size: 6em;
  }

  .music-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }

  .music-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .music-header h1 {
    margin: 0px 20px 0px 0px;
  }

  .music-page-title {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 auto;
  }

  .music-page-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .music-page-menu-button {
    font-family: 'DM Sans';
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #000;
    border: none;
    font-weight: bold;

    text-decoration: none;
    color: #0800e7;
    text-align: center;
    margin: 10px;
  }

  .music-page-menu-button:hover {
    background-color: #0800e7;
    color: #000;
  }

  .music-content {
    display: flex;
    flex-direction: row;
  }

  .album-name {
    background-color: #0700e7;
    font-size: 2em;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .album-name:hover {
    background-color: #000;
    color: #0800e7;
  }

  .album-names {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-names-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
  }

  .album-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
  }
  .album-list-background {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #000;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-list-container {
    display: flex;
    flex-direction: column;
  }

  .audio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: none;
    border: 2px solid #0800e7;
  }

  .play-pause-icon {
    height: 65%;
    color: #0800e7;
  }

  .track-title {
    font-family: dosis;
    font-size: 2em;
    margin-left: 10px;
    color: #0800e7;
  }

  .track {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .albums-recorded {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
    width: 100vw;
    justify-content: space-around;
    align-content: flex-start;
    min-height: 100vh;
  }

  .albums-recorded-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
  }

  .albums-recorded-title {
    font-family: "DM sans";
    color: #0800e7;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .albums-played-on {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-content: flex-start;
    min-height: 100vh;
  }

  .albums-played-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
  }

  .albums-played-title {
    font-family: "DM sans";
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .albums-played-main {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .album-name-dark {
    background-color: #000;
    font-size: 1.5em;
    min-width: auto;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed #0800e7;
    margin: 0px 10px 20px 0px;
    color: #0800e7;
  }

  .album-name-dark:hover {
    background-color: #0800e7;
    color: #000;
  }

  .album-names-container-dark {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
    align-items: center;
    padding-top: 40px;
  }

  .album-list-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }

  .album-list-background-dark {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #0800e7;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-list-container-dark {
    display: flex;
    flex-direction: column;
  }

  .album-names-container-scroll {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .album-name-smaller {
    background-color: #0700e7;
    font-size: 1.5em;
    min-width: auto;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin: 0px 0px 20px 10px;
  }

  .album-name-smaller:hover {
    background-color: #000;
    color: #0800e7;
  }

  .iframe {
    border: 0;
    width: 285px;
    height: 394px;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    margin: 20px 0;
  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 8em;
  }

  header p {
    font-size: 2.5em;
  }

  .employment {
    text-align: center;
    background-color: #0800e7;
  }

  .employment .header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .employment-content {
    overflow-y: auto;
    background-color: #0800e7;
    color: #ffffff;
    padding-bottom: 16%;
  }

  .resume {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 30px;
    color: #000;
  }

  .job-title {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .job-year {
    font-size: 25px;
  }

  .job-description {
    font-size: 20px;
  }

  .about-page {
    font-family: "DM Sans";
    position: relative;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #0800e7;
    overflow: hidden;
  }

  .about-page header {
    width: 100%;
  }

  .skills-container {
    font-family: "Dosis";
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #000;
    color: #0700e7;
    padding: 35px 20px;
    max-width: max-content;
    width: auto;
  }

  .skills-container p {
      margin: 10px 0px 10px 0px;
      font-size: 1.7em;
      text-align: center;
    }

  .email {
    font-size: 4.5em;
    margin: 0px;
  }

  .blurb {
    width: 85%;
    font-size: 2em;
  }

  .art-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .art-button-wrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
  }

  @keyframes strobeEffect {
    0% { background-color: #000; color: #0800e7}
    25% { background-color: #0800e7; color: #000 }
    50% { background-color: #000; color: #0800e7}
    75% { background-color: #0800e7; color: #000 }
    100% { background-color: #000; color: #0800e7}
  }

  .art-page-button {
    text-decoration: none;
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    background: #0800e7;
    border: none;
    font-weight: bold;
    color: #000;
    height: 70vh;
    width: 70vh;
  }

  .art-page-button:hover {
    color: #0800e7;
    animation: strobeEffect 0.6s infinite;
  }

  .music-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }

  .music-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .music-header h1 {
    margin: 0px 20px 0px 0px;
  }

  .music-page-title {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 auto;
  }

  .music-page-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
  }

  .music-page-menu-button {
    font-family: 'DM Sans';
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #000;
    border: none;
    font-weight: bold;

    text-decoration: none;
    color: #0800e7;
    text-align: center;
    margin: 10px;
  }

  .music-page-menu-button:hover {
    background-color: #0800e7;
    color: #000;
  }

  .albums-recorded {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    width: 100vw;
    justify-content: space-around;
    align-content: flex-start;
    min-height: 100vh;
  }

  .albums-recorded-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
  }

  .albums-recorded-title {
    font-family: "DM sans";
    color: #0800e7;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .albums-played-on {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-content: flex-start;
    min-height: 100vh;
  }

  .albums-played-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
  }

  .albums-played-title {
    font-family: "DM sans";
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .albums-played-main {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .music-content {
    display: flex;
  }

  .album-name {
    background-color: #0700e7;
    font-size: 2.5em;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin-bottom: 20px;
  }

  .album-name:hover {
    background-color: #000;
    color: #0800e7;
  }

  .album-names {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-names-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
  }

  .album-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
  }
  .album-list-background {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #000;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-list-container {
    display: flex;
    flex-direction: column;
  }

  .album-name-dark {
    background-color: #000;
    font-size: 1.6em;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed #0800e7;
    margin-bottom: 20px;
    color: #0800e7;
  }

  .album-name-dark:hover {
    background-color: #0800e7;
    color: #000;
  }

  .album-names-container-dark {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
    align-items: center;
    padding-top: 40px;
  }

  .album-list-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }

  .album-list-background-dark {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #0800e7;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .album-list-container-dark {
    display: flex;
    flex-direction: column;
  }

  .album-names-container-scroll {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .album-name-smaller {
    background-color: #0700e7;
    font-size: 1.6em;
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px dashed black;
    margin-bottom: 20px;
  }

  .album-name-smaller:hover {
    background-color: #000;
    color: #0800e7;
  }

  .audio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: none;
    border: 2px solid #0800e7;
  }

  .play-pause-icon {
    height: 65%;
    color: #0800e7;
  }

  .track-title {
    font-family: dosis;
    font-size: 3em;
    margin-left: 10px;
    color: #0800e7;
  }

  .track {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .visual-content {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 9em;
    font-family: "DM Sans";
  }

  .visual-content:hover {
    color: #0800e7;
    animation: strobeEffect 0.6s infinite;
  }

  .visual-content {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 9em;
    font-family: "DM Sans";
  }

  .portfolio-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .portfolio-write-up {
    font-size: 2em;
  }

  .arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
    border: 2px solid #000;
    background-color: #0800e700;
    font-size: 50px;
    line-height: 1;
    transition: background-color 0.2s;
    z-index: 10;
  }

  .arrowButton:hover {
    background-color: #000000;
    color: #0800e7;
  }

  .arrowButton svg {
    height: 100%;
    width: 100%;
    color: #000;
    }

  .button {
    text-decoration: none;
    font-family: 'DM Sans';
    color: #000;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 15px 30px;
    background-color: #0800e7;
    font-size: 2.5em;
    transition: background-color 0.2s;
  }

  .button:hover {
    background-color: #000000;
    color: #0800e7;
  }

  .button-art{
    border-radius: 50px;
  }

  .button-about{
    border-radius: 50px 5px 50px 5px;
  }

  .iframe{
    border: 0;
    width: 380px;
    height: 500px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 10em;
  }

  .button {
    font-size: 3.2em;
  }

  header p {
    font-size: 3em;
  }

  .music-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .music-header h1 {
    margin: 0px 20px 0px 0px;
  }

  .album-name {
    font-size: 3em;
  }

  .album-name-dark {
    font-size: 2em;
    padding: 15px;
  }

  .album-name-smaller {
    font-size: 2em;
    padding: 15px;
  }
}

@media screen and (min-width: 2500px) {
  h1 {
    font-size: 18em;
  }

  .button {
    font-size: 6em;
    padding: 20px 60px;
  }

  .button-art {
    border-radius: 100px;
  }

  .button-about {
    border-radius: 100px 5px 100px 5px;
  }

  header p {
    font-size: 4.5em;
  }

  .about-page h1 {
    font-size: 18em;
  }

  .blurb {
    width: 90%;
    font-size: 5em;
  }

  .skills-container {
    font-size: 2.25em;
    gap: 35px;
    padding: 40px 50px;
  }

  .portfolio-write-up {
    font-size: 5em;
  }

  .art-page-button {
    font-size: 11em;
  }

  .visual-content {
    font-size: 12em;
  }

  .music-page-menu-button {
    font-size: 4.5em;
  }

  .music-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .music-header h1 {
    margin: 0px 20px 0px 0px;
  }

  .album-name {
    font-size: 5em;
    padding: 20px;
    border-radius: 100px;
  }

  .track-title {
    font-size: 5em;
  }

  .audio-button {
    width: 85px;
    height: 85px;
  }

  .album-name-dark {
    font-size: 3.5em;
    padding: 20px;
    border-radius: 100px;
    margin-bottom: 35px;
  }

  .album-names-container-dark {
    padding-top: 75px;
  }

  .album-name-smaller {
    font-size: 3.5em;
    padding: 25px;
    border-radius: 100px;
  }

  .iframe {
    border: 0;
    width: 633px;
    height: 740px;
  }
} */
